{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Account deactivate{% endblock head_title %}

{% block content %}
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header py-4 border-bottom-0 m-auto">
                <h5 class="mb-0">Deactivate Your Account</h5>
            </div>

            <div class="modal-body p-5 pt-0">
                <p class="text-center">Are you sure you want to deactivate your account? This action cannot be undone.</p>
                <form action="{% url 'users:account_deactivate' %}" method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-danger w-100" type="submit">Deactivate account</button>
                </form>
                <div class="mt-2">
                    <a href="{% url 'users:settings' %}" class="btn btn-light w-100">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
