{% extends "base.html" %}
{% load static %}

{% block head_title %}BudgetMe{% endblock head_title %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Personal Finance Tracker</h1>
    {% if request.user.is_authenticated %}
    <div>
        <p class="fs-5 fw-semibold">Welcome, {{ request.user.username }}</p>
        <p>Here's what's happening with your money. Let's manage your expenses.</p>
    </div>

    <div class="border mb-4"></div>

    <div class="mb-3">
        <div class="transactions-tab">
            <a href="{% url 'tracker:transaction_list' %}" class="text-decoration-none d-flex justify-content-center align-items-center">
                <i class="bi bi-journals me-1"></i>
                Transactions
            </a>
        </div>
    </div>
    {% endif %}
    
    <!-- Displays random text -->
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{% lorem 1 b random %}</p>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% if request.user.is_authenticated %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const notificationBtnEl = document.querySelector("#notification-btn");
    const notificationIconEl = document.querySelector("#notification-icon");
    const notificationMessageEl = document.querySelector("#notification-message");
    const notificationCountEl = document.getElementById('notification-count');

    let notificationCount = 0;
    
    notificationBtnEl.addEventListener("click", function() {
        notificationIconEl.classList.toggle("bi-bell");
        notificationIconEl.classList.toggle("bi-bell-fill");
    })
    
    let socket = new WebSocket("ws://127.0.0.1:8000/ws/notifications/");
    socket.onmessage = function(e) {
        let data = JSON.parse(e.data);
        console.log(data);
        notificationCount++;
        updateNotificationCount(notificationCount)
        notificationMessageEl.innerText = data.message;
    }
    
    function updateNotificationCount(count) {
        notificationCountEl.innerText = count;
        if (notificationCount <= 0) {
            notificationCountEl.classList.add("d-none");
            notificationCountEl.classList.remove("d-inline");
        } else {
            notificationCountEl.classList.remove("d-none");
            notificationCountEl.classList.add("d-inline");
        }
    }
})
</script>
{% endif %}
{% endblock scripts %}
