{% extends "base.html" %}

{% block head_title %}Transactions{% endblock head_title %}

{% block content %}
<div id="transaction-block">
  <h1>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>
    Transactions
  </h1>

  {% include 'partials/messages.html' %}

  {% include 'tracker/partials/transaction_container.html' %}
</div>
{% endblock content %}
